[submodule "Azure-Kinect-Sensor-SDK"]
	path = Azure-Kinect-Sensor-SDK
	url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
	tag = v1.4.1


[submodule "catkin_Azure_kinect/src/Azure_Kinect_ROS_Driver"]
	path = catkin_Azure_kinect/src/Azure_Kinect_ROS_Driver
	url = https://github.com/microsoft/Azure_Kinect_ROS_Driver.git
