[submodule "Azure-Kinect-Sensor-SDK"]
	path = Azure-Kinect-Sensor-SDK
	url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
	tag = v1.4.1


[submodule "catkin_Azure_kinect/src/Azure_Kinect_ROS_Driver"]
	path = catkin_Azure_kinect/src/Azure_Kinect_ROS_Driver
	url = https://github.com/microsoft/Azure_Kinect_ROS_Driver.git
	
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "gtsam"]
	path = gtsam
	url = https://github.com/borglab/gtsam.git
[submodule "catkin_kinect2/src/iai_kinect2"]
	path = catkin_kinect2/src/iai_kinect2
	url = https://github.com/code-iai/iai_kinect2.git
[submodule "ceres-solver"]
	path = ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "catkin_realsense/src/realsense-ros"]
	path = catkin_realsense/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "catkin_vision_opencv/src/vision_opencv"]
	path = catkin_vision_opencv/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "doxygen"]
	path = doxygen
	url = https://github.com/doxygen/doxygen.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags.git
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog.git
[submodule "libfreenect2"]
	path = libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "Livox-SDK"]
	path = Livox-SDK
	url = https://github.com/Livox-SDK/Livox-SDK.git

[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "thrust"]
	path = thrust
	url = https://github.com/NVIDIA/thrust.git
[submodule "catkin_livox/src/livox_ros_driver"]
	path = catkin_livox/src/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
