[submodule "gtsam"]
	path = gtsam
	url = https://github.com/borglab/gtsam.git

[submodule "ceres-solver"]
	path = ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git

[submodule "doxygen"]
	path = doxygen
	url = https://github.com/doxygen/doxygen.git

[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "thrust"]
	path = thrust
	url = https://github.com/NVIDIA/thrust.git
	
# [submodule "catkin_livox/src/livox_ros_driver"]
# 	path = catkin_livox/src/livox_ros_driver
# 	url = https://github.com/Livox-SDK/livox_ros_driver.git